<ion-view view-title="Super Precios">
    <ion-content>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2>Recorremos los supermercados por vos</h2>
                    <p>Recolectamos a diario los precios de todos los productos publicados
                        por los principales supermercados online.</p>
                    <p>Mostramos los resultados para que puedas encontrar la mejor opción.</p>
                    <p>Guardamos el historial de precios para que puedas evaluar su evolución.</p>
                    <p>Y te mostramos los Precios Cuidados para que puedas comparar.</p>
                </div>
            </div>
        </div>
        <div class="prc-footer">
            <p class="prc-brand">Super Precios</p>
            <p>Desarrollado e ideado por <a href="http://www.somospnt.com">PNT</a>
                <br>
                El equipo de desarrollo de <a href="http://www.connectis-ict.com.ar">Connectis Argentina</a>
            </p>
        </div>
    </ion-content>
</ion-view>
