<ion-view view-title="Super Precios">
    <ion-content class="padding">
        <div class="item item-input-inset prc-buscador">
            <input type="text" ng-model="busqueda.keywords" placeholder="¿Qué producto buscás?">
            <button ng-click="buscarProductos()" class="button button-small">
                <i class="icon ion-search"></i>
            </button>
        </div>
        <div ng-show="busqueda.buscando" class="prc-buscando">
            <i class="icon ion-loading-c"></i>
        </div>
        <div class="prc-resultado-busqueda">
            <tabset>
                <tab  ng-repeat="(k,productos) in comercios" heading="{{k}}">
                    <div class="list list-inset">
                        <div ng-repeat="producto in productos" class="item item-body" ">
                            <div class="row">
                                <div class="col col-80">
                                    <!--<a href="#/tab/dash/{{producto.id}}></a>-->
                                    <p prc-descripcion>{{producto.descripcion}}</p> 
                               </div>
                                <div class="col col-20 prc-precio">
                                    ${{obtenerPrecio(producto, k)}}
                                </div>
                            </div>
                        </div>
                    </div>
                </tab>
            </tabset>
        </div>
        <div class="prc-footer">
            <p class="prc-brand">precios en la calle</p>
            <p>Desarrollado e ideado por <a href="http://www.somospnt.com">PNT</a>
                <br>
                El equipo de desarrollo de <a href="http://www.connectis-ict.com.ar">Connectis Argentina</a>
            </p>
        </div>
    </ion-content>
</ion-view>
