/*******************************************************************************
 * Estilos generales.
 ******************************************************************************/
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}


/*******************************************************************************
 *
 * Footer.
 *
 ******************************************************************************/
.prc-footer {
    text-align: center;
    font-size: 0.8em;
    background-color: #F0F0F0;
    padding: 20px 0px;
    margin-top: 30px;
}
.prc-footer .prc-brand {
    font-size: 1.3em;
}

/******************************************
* buscando
*******************************************/
.prc-buscando {
    text-align: center;
    margin-bottom: 30px;
}

.prc-buscando i.icon.ion-loading-c {
    font-size: 2em;
}

/****************************************
* Busqueda y resultados
*****************************************/


.prc-resultado-busqueda .nav>li>a{
    padding: 10px 5px;

}
.prc-resultado-busqueda .row{
    padding: 0;
    margin: 0;
}
.prc-buscador {
    margin: 0 0 20px 0;

}
.prc-resultado-busqueda ul{
    font-weight: 600;
}
.prc-resultado-busqueda .item {
    padding: 2px;
}
.prc-resultado-busqueda .item p{
    margin: auto;
}
.prc-resultado-busqueda .prc-precio{
    text-align: right;
    margin: auto;
}
.prc-producto .prc-descriprcion{

}

/****************************************
* HEADER
*****************************************/

.prc-nav-bar {
    background-color: #E96044 !important;
}

.prc-nav-bar .title{
    background-color: #E96044 !important;
    color: white !important;
    font-weight: bolder;
}